
{%extends 'html/base.html'%}
{% load static %}
{% block main %}
<div class="container-fluid" >
  {%for i in Cateogry%}
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{i.photo.url}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{i.Title}}</h5>
        <p class="card-text">{{i.Description}}</p>
        <p class="card-text"><small class="text-muted">{{i.upload_date}}</small></p>
        <a type="submit" href="{% url 'explore' i.id %}" class="btn btn-outline-success">Exlore</a>
        </form>
      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
{% endfor %}
</div>

{% endblock main %}