
{%extends 'html/base.html'%}
{% load static %}
{% block main %}
<div class="container-fluid mx-auto">
	<form class="form-inline my-2 my-lg-0" method="GET">
		{% csrf_token %}
		{{search.form}}
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	<div class="row row-cols-1 row-cols-md-3 mx-auto">
	  <div class="col mb-4 mx-auto">
	  	{%for i in post%}
	    <div class="card mx-auto">
	      <img src="{{ i.photo.url }}" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">{{i.Title}}</h5>
	        <p class="card-text"><small class="text-muted">Upload Date: {{i.upload_date}}</small></p>
	        <button type="button" class="btn btn-dark">Download</button>
	      </div>
	    </div>
	    <br>
	    {%endfor%}
	  </div>
	</div>
</div>
{% endblock main %}